@charset "UTF-8";

/* -- 初始化 -- */

body {
    margin: 0;
    padding: 0;
}

.main * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

.main a {
    text-decoration: none;
    color: #000;
    user-select: none;
}

/* -- 主体 -- */

.main {
    display: block;
    padding: 50px 20px;
    box-sizing: border-box;
    width: 100%;
    min-width: 1000px;
    background-color: #EEE;
    text-align: center;
}

/* -- Tab -- */

.main .item-tabs {
    margin-bottom: 20px;
}
.main .item-tabs ul {
    list-style-type: none;
    font-size: 0;
    user-select: none;
}
.main .item-tabs ul li {
    display: inline-block;
    height: 40px;
    width: 100px;
    background-color: #FFF;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
}
.main .item-tabs ul li:not(:last-child) {
    margin-right: 20px;
}
.main .item-tabs ul li.active {
    background-color: #E1251B;
    color: #FFF;
}

/* -- 列表 -- */

.main .item-list {
    display: inline-block;
    width: 940px;
    text-align: left;
}

/* 列表 - 项 */
.main .item-list a {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px 10px 0;
    padding: 20px;
    height: 320px;
    width: 225px;
    background-color: #FFF;
    transform: translateX(5px);
}

/* 列表 - 项 - 缩略图 */
.main .item-list a .thumb {
    padding: 10px 20px 30px 20px;
}
.main .item-list a .thumb img {
    width: 100%;
}

/* 列表 - 项 - 商品名称 */
.main .item-list a .info-title {
    /* 限制行数 */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
}

/* 列表 - 项 - 价格 */
.main .item-list a .info-price {
    white-space: nowrap;
}
.main .item-list a .info-price > div {
    display: inline-block;
    width: 50%;
}

.main .item-list a .info-price .price {
    margin: 10px 0;
    text-align: left;
    color: #E1251B;
    font-size: 12px;
    font-weight: bold;
}
.main .item-list a .info-price .price i {
    font-size: 20px;
    font-style: normal;
}

/* 列表 - 项 - 价格 - 标签 */
.main .item-list a .info-price .tag {
    text-align: right;
}

/* 列表 - 项 - 价格 - 标签 - 文本 */
.main .item-list a .info-price .tag .tag-text {
    display: inline-block;
    padding: 2px 6px;
    vertical-align: 2px;
    border: 1px solid #E1251B;
    border-radius: 4px;
    line-height: 14px;
    font-size: 12px;
    color: #E1251B;
}

/* 列表 - 项 - 价格 - 标签 - VIP */
.main .item-list a .info-price .tag .tag-vip .price {
     font-weight: normal;
     color: #000;
}
.main .item-list a .info-price .tag .tag-vip .price i {
     font-size: 12px;
}
.main .item-list a .info-price .tag .tag-vip img {
     vertical-align: middle;
}
