@charset "UTF-8";

.random-question {
    display: block;
    visibility: hidden;
    position: fixed;
    z-index: 200;
    top: 50px;
    padding: 20px;
    left: 50%;
    width: 90%;
    max-width: 750px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    background-color: #FFF;
    line-height: 1.5em;
    font-size: 18px;
    transform: translateX(-50%);
    user-select: none;
}

.random-question.hide {
    animation: hide 0.5s linear forwards;
}

.random-question.show {
    animation: show 0.5s linear forwards;
}

.random-question .question {
    margin-bottom: 15px;
    padding: 5px 10px;
    /* min-height 与行高相同 */
    min-height: 1.5em;
    outline: 2px solid #EEE;
}

.random-question .anwser {
    margin-bottom: 8px;
    padding: 8px 10px;
    box-sizing: border-box;
    width: 100%;
    height: 4em;
    min-height: 4em;
    border: none;
    outline: 2px solid #EEE;
    font-size: 18px;
    transition: outline 0.25s;
    resize: vertical;
}

.random-question .anwser:focus {
    outline: 2px solid #DDD;
}

.random-question .ctrl {
    font-size: 0;
}

.random-question .ctrl>div {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: var(--color-secondary);
    font-size: 16px;
    color: #FFF;
    transition: opacity 0.25s;
    cursor: pointer;
}

.random-question .ctrl>div:hover {
    opacity: 0.8;
}

.random-question .ctrl>div:not(:last-child) {
    margin-right: 11px;
}

/* 显示 */

@keyframes show {
    0% {
        visibility: visible;
        opacity: 0;
    }

    50% {
        visibility: visible;
        opacity: 1;
    }

    100% {
        visibility: visible;
        opacity: 1;
    }
}

/* 隐藏 */

@keyframes hide {
    0% {
        visibility: visible;
        opacity: 1;
    }

    50% {
        visibility: visible;
        opacity: 0;
    }

    100% {
        visibility: hidden;
        opacity: 0;
    }
}