@charset "UTF-8";

:root {
    --color-primary: #FF5722;
    --color-secondary: #4CAF50;
}

html, body {
    font-size: 16px;
    color: #304455;
    scroll-behavior: smooth;
}

a {
    color: var(--color-secondary);
}
a:focus {
    outline: none;
}
a:hover {
    text-decoration: none;
    color: var(--color-primary);
}

body {
    padding-bottom: 50px;
}

blockquote {
    margin-bottom: 10px;
    padding: 11px 15px 1px 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-left-color: var(--color-primary);
    /* background-color: #FFF; */
}

code {
    color: var(--color-primary);
}
code > div {
    font-size: 14px;
}

h1, h2, h3, h4 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
}
h3 {
    font-size: 1.25em;
}
h4 {
    font-size: 1.15em;
}
h3, h4 {
    position: relative;
}
h3::before,
h4::before {
    content: "#";
    position: absolute;
    left: -0.8em;
    font-weight: bold;
    color: var(--color-secondary);
}

hr {
    width: 100%;
    height: 2px;
    border: none;
    background-image: linear-gradient(
      to right, #DDD 0%, #DDD 50%,
      transparent 50%, transparent 100%
    );
    background-repeat: repeat;
    background-size: 25px 100%;
}

img {
    max-width: 640px;
}

/* Visual Studio Code */

.vscode-light pre {
    background-color: #F5F5F5;
}

/* 悬浮按钮 */

.btn-float {
    display: block;
    position: fixed;
    right: 32px;
    bottom: 32px;
}
.btn-float > div {
    display: block;
    padding: 12px 10px;
    border-radius: 5px;
    background-color: var(--color-secondary);
    font-weight: normal;
    color: #FFF;
    opacity: 0.8;
    transition: opacity 0.2s;
    cursor: pointer;
    user-select: none;
}
.btn-float > div:not(:last-child) {
    margin-bottom: 10px;
}
.btn-float > div:hover {
    opacity: 1.0;
}

/* 目录 */

.contents+h1,
.contents+h2 {
    padding: 32px 20px;
    border: none;
    background-color: #F9F9F9;
    text-align: center;
    font-weight: normal;
    color: #273849;
}
.contents+h1+ul,
.contents+h2+ul {
    --border-color: var(--color-secondary);
    display: block;
    position: fixed;
    z-index: 100;
    padding: 32px 25px 32px 50px;
    box-sizing: border-box;
    height: 100%;
    max-width: 80%;
    top: 0;
    right: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-left: 1px solid var(--border-color);
    background-color: #FFF;
    font-family: monospace;
    font-size: 16px;
    overflow-y: auto;
    animation: borderFade 2s linear infinite;
    transform: translateX(calc(100% - 20px));
    transition: transform 0.5s 0.5s;
}
.contents+h1+ul:hover,
.contents+h2+ul:hover {
    transform: translateX(0);
}

@keyframes borderFade {
    0% {
        border-color: var(--border-color);
    }
    50% {
        border-color: transparent;
    }
    100% {
        border-color: var(--border-color);
    }
}
